* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jakarta Sans';
}
:root {
    --header-width: 6rem;
    --side-bar-width: 18rem;
    --clr-background: #20212c;
    --clr-header: rgb(43, 44, 55);
    --clr-text: rgb(130, 143, 163);
    --clr-primary: rgb(99, 95, 199);
    --clr-headings: #fff;
    --clr-border: rgb(62, 63, 78);
    --clr-sec-one: rgb(73, 196, 229);
    --clr-sec-two: rgb(132, 113, 242);
    --clr-sec-three: rgb(103, 226, 174);
    --clr-sec-four: rgb(240, 132, 240);
    --task-width: 18rem;
    --border: 0.06rem solid var(--clr-border);
    --padding: 2rem;
}
h1, h3 {
    color: var(--clr-headings);
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    font-weight: 700;
    color: var(--clr-text)
}
h3 {
    font-size: 0.94rem;
}
p {
    font-size: 1rem;
}
body {
    background-color: var(--clr-background);
    color: var(--clr-text);
    height: 100vh;
    overflow: hidden;
}
.container.side-bar-opened #showSideBar{
    visibility: hidden;
}
.container.side-bar-opened #hideSideBar {
    visibility: visible;
}
#showSideBar {
    position: absolute;
    left: 0;
    bottom: 10vh;
    display: inline-flex;
    background-color: var(--clr-primary);
    color: var(--clr-headings);
    padding: 1.5rem 1rem;
    border-radius: 0 999px 999px 0;
    cursor: pointer;
}
div#hideSideBar {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}
.container.side-bar-opened > #site-header > div:nth-child(1) {
    overflow: visible;
}
.container.side-bar-opened > main {
    margin-left: var(--side-bar-width);
}
#site-header {
    position: relative;
    display: flex;
    background-color: var(--clr-header);
    height: var(--header-width);
    align-items: center;
    border-bottom: var(--border);
    /* overflow: hidden */
}
#site-header > div {
    display: flex;
}
#site-header > div:nth-child(1) {
    position: sticky;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    width: var(--side-bar-width);
}
#site-header > div:nth-child(1) > div {
    flex-direction: column;
    gap: 1rem;
    background-color: var(--clr-header);
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    border-right: var(--border);
    padding-inline: var(--padding);
    display: flex;
    padding-bottom: 1rem;
}
#site-header > div:nth-child(1) > div > .icon {
    height: var(--header-width);
    display: inline-flex;
    place-items: center;
    width: 100%
}
#site-header > div:nth-child(1) > div > .icon > .desktop {
    display: block;
}
#site-header > div:nth-child(1) > div > .icon > .mobile {
    display: none;
}
#site-header > div:nth-child(1) > div > .side {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#site-header > div:nth-child(1) > div > .side > .boards > h2 {
    padding-block: .5rem;
}
#site-header > div:nth-child(1) > div > .side > .boards > div > ul {
    list-style: none;
    margin-left: calc(-1 * var(--padding));
    font-size: 0.94rem;
    /* padding-left: 2rem; */
}
#site-header > div:nth-child(1) > div > .side > .boards > div > ul > li {
    padding: .75rem 2rem;
    border-radius: 0 999px 999px 0;
    font-weight: 700;
    cursor: pointer;
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
}
#site-header > div:nth-child(1) > div > .side > .boards > div > span, #hideSideBar {
    font-size: 0.94rem; 
    margin-left: calc(-1 * var(--padding));
    padding: .75rem 2rem;
    display: block;
    border-radius: 0 999px 999px 0;
    font-weight: 700;
    cursor: pointer;
}
#site-header > div:nth-child(1) > div > .side > .boards > div > ul > li:not(.active):hover, #site-header > div:nth-child(1) > div > .side > .boards > div > span:hover, #hideSideBar:hover {
        background-color: var(--clr-headings);
        color: var(--clr-primary)
}
#site-header > div:nth-child(1) > div > .side > .boards > div > ul > li.active {
    background-color: var(--clr-primary);
    color: var(--clr-headings);
}
#site-header > div:nth-child(1) > div > .side > .theme {
    background-color: var(--clr-background);
    border-radius: 0.5rem;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#site-header > div:nth-child(1) > div > .side > .theme > .toggle {
    height: auto;
    width: 3rem;
    background-color: var(--clr-primary);
    padding: .25rem;
    border-radius: 999px;
    cursor: pointer;
}
#site-header > div:nth-child(1) > div > .side > .theme > .toggle > span {
    display: block;
    width: 1rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: var(--clr-headings);
}
#site-header > div:nth-child(2) {
    width: calc(100vw - var(--side-bar-width));
    padding-inline: var(--padding);
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
#site-header > div:nth-child(2) > h1 {
    margin-right: auto
}
#site-header > div:nth-child(2) > .header-menu {
    position: relative;
}
#site-header > div:nth-child(2) > .header-menu > span:nth-child(1){
    padding: 1rem;
    cursor: pointer;
    user-select: none;
}
#site-header > div:nth-child(2) > .header-menu > span:nth-child(2){
    font-size: 0.75rem;
    display: none;
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    background-color: var(--clr-header);
    padding: 1rem;
    border-radius: .25rem;
    box-shadow: 0px 0px 10px var(--clr-background);
}
#site-header > div:nth-child(2) > .header-menu.opened > span:nth-child(2){
    display: flex;
}
#site-header > div:nth-child(2) > .header-menu > span:nth-child(2) > span {
    display: block;
    width: max-content;
    cursor: pointer;
}
#site-header > div:nth-child(2) > .header-menu > span:nth-child(2) > span:nth-child(2) {
    color: tomato;
}
main {
    margin-left: 0;
    height: calc(100vh - var(--header-width));
    overflow: auto;
}
.horizontal {
    padding: 1.5rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: nowrap;
}
.horizontal  > * {
    flex-shrink: 0;
    flex-grow: 0;
}

/* COLUMNS */

.columns {
    display: flex;
    gap: 1.5rem;
}
.column {
    display: flex;
    flex-direction: column;
    width: var(--task-width);
    gap: 1rem;
}
.column > h2:before{
    content: "";
    height: 100%;
    display: block;
    aspect-ratio: 1 / 1;
    border-radius: 999px;
}
.column:nth-child(4n - 3) > h2:before{
    background-color: var(--clr-sec-one);
}
.column:nth-child(4n - 2) > h2:before{
    background-color: var(--clr-sec-two);
}
.column:nth-child(4n - 1) > h2:before{
    background-color: var(--clr-sec-three);
}
.column:nth-child(4n) > h2:before{
    background-color: var(--clr-sec-four);
}
.column > h2 {
    text-transform: uppercase;
    display: inline-flex;
    gap: 0.5rem;
}
.column > .tasks {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.column > .tasks > div {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    background-color: var(--clr-header);
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    cursor: pointer;
}
.column > .tasks > div:hover > h3 {
    color: var(--clr-primary)
}
.column > .tasks > div > p {
    font-size: 0.75rem;
    font-weight: 700
}

/* NEW COLUMN */

#insertNewColumn {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    height: 60vh;
    width: var(--task-width);
    background-color: rgba(43, 44, 55, 0.125);
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1.9rem;
    cursor: pointer;
}
#popup, #overlay {
    position: fixed;
    display: none;
}
#overlay {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px)
}
#popup {
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    max-width: 90vw;
    width: 30rem;
    background-color: var(--clr-header);
    border-radius: .5rem;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
}
#popup h1 {
    font-size: 1.13rem;
}
#popup h2 {
    font-size: 0.75rem;
    letter-spacing: normal;
}
#popup .input-box {
    font-size: 0.81rem;
    padding: .5rem 1rem;
    border-radius: .25rem;
    background-color: transparent;
    border: 1px solid rgba(130, 143, 163, 0.25);
    display: inline-flex;
    align-items: center;
    color: var(--clr-headings);
    width: 100%;    
    /* outline: transparent !important; */
    outline-color: var(--clr-headings);
    outline-width: 1px !important;
    resize: none;
}
#popup .input-box::placeholder {
    text-transform: none;
}
#popup .input-box:hover {
    border-color: var(--clr-primary)
}
#popup .checkbox-box {
    font-size: 0.81rem;
    padding: .75rem;
    border-radius: .25rem;
    background-color: var(--clr-background);
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: var(--clr-headings);
    font-weight: 700;
    cursor: pointer;
}
#popup .checkbox-box > span:nth-child(1){
    width: 1rem;
    aspect-ratio: 1 / 1;
    background-color: var(--clr-header);
    border-radius: .25rem;
}
#popup .checkbox-box[checked] {
    color: var(--clr-text);
}
#popup .checkbox-box[checked] > span:nth-child(1) {
    background-color: var(--clr-primary);
    background-image: url(../assets/icons/tick.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
#popup .checkbox-box[checked] > span:nth-child(2) {
    text-decoration: line-through;
}
#popup .option-box > .input-box {
    justify-content: space-between;
    text-transform: capitalize;
}
#popup .option-box > .input-box > span:nth-child(2) {
    color: var(--clr-primary);
}
#popup .option-box > .options {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-background);
    font-size: 0.81rem;
    text-transform: capitalize;
    border-radius: 0.25rem;
    overflow: hidden;
    user-select: none;
    height: 0;
    transition: height 500ms
}
#popup .option-box > .options > span {
    height: 2rem;
    display: inline-flex;
    align-items: center;
    padding: .5rem 1rem;
    display: block;
    
}
#popup .option-box > .options > span:hover {
    background-color: var(--clr-primary);
}
#popup svg {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
}
#popup .popup-menu {
    position: relative;
}
#popup .popup-menu > span:nth-child(1){
    padding: 1rem;
    cursor: pointer;
    user-select: none;
}
#popup .popup-menu > span:nth-child(2){
    font-size: 0.75rem;
    display: none;
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    background-color: var(--clr-header);
    padding: 1rem;
    border-radius: .25rem;
    box-shadow: 0px 0px 10px var(--clr-background);
}
#popup .popup-menu.opened > span:nth-child(2){
    display: flex;
}
#popup .popup-menu > span:nth-child(2) > span {
    display: block;
    width: max-content;
    cursor: pointer;
}
#popup .popup-menu > span:nth-child(2) > span:nth-child(2) {
    color: tomato;
}
#popup header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#overlay.opened, #popup.opened {
    display: flex;
}

/* EDIT BOARD POPUP */
#popup > div.edit-board .input-box {
    text-transform: capitalize;
}
#popup > div.edit-board {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%
}
#popup > div.edit-board > div:nth-of-type(1), #popup > div.edit-board > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#popup > div.edit-board > div:nth-of-type(2)  div {
    display: flex;
    flex-direction: column;
    gap: 1rem
}
#popup > div.edit-board > div:nth-of-type(2) > div > div {
    flex-direction: row;
    align-items: center;
}
#popup > div.edit-board > div:nth-of-type(2) > div > div > span {
    cursor: pointer;
    padding: .125rem
}

/* DISPLAY TASK POPUP */
#popup > div.display-task {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%
}
#popup > div.display-task > div:nth-of-type(1), #popup > div.display-task > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#popup > div.display-task > div:nth-of-type(1) > div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* ADD TASK POPUP */
#popup > div.add-task {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%
}
#popup > div.add-task > div:nth-of-type(1),
#popup > div.add-task > div:nth-of-type(2),
#popup > div.add-task > div:nth-of-type(3),
#popup > div.add-task > div:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#popup > div.add-task > div:nth-of-type(3)  div {
    display: flex;
    flex-direction: column;
    gap: 1rem
}
#popup > div.add-task > div:nth-of-type(3) > div > div {
    flex-direction: row;
    align-items: center;
}
#popup > div.add-task > div:nth-of-type(3) > div > div > span {
    cursor: pointer;
    padding: .125rem
}

.btn {
    border-radius: 999px;
    padding: .75rem 1rem;
    display: inline-flex;
    place-content: center;
    font-size: 0.81rem;
    font-weight: 700;
    cursor: pointer;
}
.btn.btn-primary {
    background-color: var(--clr-primary);
    color: var(--clr-headings)
}
.btn.btn-secondary {
    background-color: var(--clr-headings);
    color: var(--clr-primary)
}




@media screen and (max-width: 540px) {
    :root {
        --padding: 1rem;
    }
    #showSideBar, div#hideSideBar {
        display: none;
    }
    #site-header > div:nth-child(1) {
        position: static;
        width: auto;
    }
    #site-header > div:nth-child(1) > div {
        border: none;
        position: static;
        height: auto;
        padding-bottom: 0;
    }
    #site-header > div:nth-child(1) > div > .icon > .desktop {
        display: none;
    }
    #site-header > div:nth-child(1) > div > .icon > .mobile {
        display: block;
    }
    #site-header > div:nth-child(1) > div > .side {
        display: none;
    }
    #site-header > div:nth-child(2) {
        width: 100%;
    }
}